<table class="records">
    <thead><tr><th>Item</th><th>Count</th><th>Price</th></thead>
    <tbody>
        {{#each categories}}
            <tr>
                <th class="category" colspan="3">{{this.category}}</th>
            </tr>
            {{#each this.records}}
                <tr>
                    {{#if this.checked}}
                    <td><input type="checkbox" checked name="{{this.item}}" hx-get="/check?checked=true&item={{this.item}}">{{this.item}}</td>
                    {{else}}
                    <td><input type="checkbox" name="{{this.item}}" hx-get="/check?checked=true&item={{this.item}}">{{this.item}}</td>
                    {{/if}}
                    <td>{{this.count}}</td>
                    <td>${{this.price}}</td>
                </tr>
            {{/each}}
        {{/each}}
        <tr><td colspan="2" class="total">Total</td><td class="total">${{total}}</td></tr>
    </tbody>
</table>